/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary

docs/site/** linguist-documentation=false

*.svg linguist-detectable=false
*.md linguist-detectable=false
*.mdx linguist-detectable=false

*.astro linguist-detectable=true
*.ts linguist-detectable=true
*.js linguist-detectable=true
*.css linguist-detectable=true
