/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary

docs/site/** linguist-documentation=false

docs/site/**/*.svg linguist-vendored=true
docs/site/**/*.md linguist-documentation=true
docs/site/**/*.mdx linguist-documentation=true

*.astro linguist-detectable=true
*.ts linguist-detectable=true
*.js linguist-detectable=true
*.css linguist-detectable=true
